:root{
    --vert:#98E9AF;
    --bleu:#8DE0E5;
    --rose:#FEA6F0;
    --jaune:#FCFF80;
    --mauve:#7768D0;
    --rouge:#F6788F;
}


body{
   width: 1920px;
height: 1080px;


}

.flech{
    width: 6%;
    position: absolute;
    top:480px;
    left: 850px;
}

header{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 110%;
background-size: 100% 100%;
  background-position: 0 0;
background-image: url("../img/img_arriere_plan/fond.png");
}

.fond{
width: 98%;
}

h1{
    position: absolute;
    font-size: 600%;
   width: 100vw;
    color: #ffffff;
    font-family: gloria hallelujah;
    left: 350px;
top:2vh;
}

h2{
    position: absolute;
    font-size: 370%;
    color: #ffffff;
    font-family: gloria hallelujah;
    top:270px;
    left:550px;
}

p{
    color:white;
    position: absolute;
    font-size: 13px;
    top:1100px;
left:500px;
}

 main{

max-width: 1920px;


}

main section{
  position:relative;
  border: solid 1px red;
  width: 100%;
}

 span{
  color:white;
    position: absolute;
    font-size: 37px;
    bottom:800px;
    left:200px;
    z-index: 1;
    font-family: gloria hallelujah;
}


/*chapitre 1*/
main #chap1{

    background-image: url("../img/img_arriere_plan/ciel.png");
    z-index: 2;
    position: relative;
  
    height: 1000px;

background-size: 100% 100%;
  background-position: 0 0;
 /* top: 730px; */
}

#chap1 span{
  top:50px;
}

.jour{
  position: absolute;
  width: 15%;
  left: 1400px;
bottom: 580px;
}

.gaz{
  position: absolute;
  width: 100%;
height:30%;
bottom:0%;
}

.spritesheet{
  z-index: 1;
  position: relative;
  left: -300px;
top:380px;
  width: 20%;
 height: 40%;
 aspect-ratio: 1/1;
  background-size: 7600% 100%;
  background-position: 0 0;
  background-image: url("../img/img_personnages/spritesheet.png");
  animation-name: marche;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-timing-function: steps(76);
}

.is-scrolling .spritesheet{

  width: 20%;
 height: 40%;
 aspect-ratio: 1/1;
  background-size: 7600% 100%;
  background-position: 0 0;
  background-image: url("../img/img_personnages/spritesheet.png");
  animation-name: marche;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: steps(76);
}

@keyframes marche {
  from { background-position: 0 0; }
  to { background-position: -7600% 0; } 

}

/*chapitre 2*/
main #chap2{

    background-image: url("../img/img_arriere_plan/coucher_soleil.png");
    position: relative;
 
    height: 1080px;
 
background-size: 100% 100%;
  background-position: 0 0;

}


.montagne1{
  position: absolute;
  bottom:100px;
  right: 300px;
  width: 200%;
  z-index: 2;
}

.montagne2{
  position: absolute;
  bottom:100px;
  left: 1150px;
  width: 40%;
  z-index: 20;
}

.montagne3{
  position: absolute;
  width: 100%;
  bottom:100px;
  right: 0px;
  z-index: 8;
}

.petite{
  position: absolute;
 bottom:135px;
  left: 160px;
z-index: 10;
  width: 30%;
  
}

.gazon{
    position: absolute;
    width: 100%;
    height:15%;
    bottom:0%;
  z-index: 2;
    
}

/*chapitre 3*/
main #chap3{

    background-image: url("../img/img_arriere_plan/ciel_nuit.png");
    position: relative;
  
    height: 1200px;

background-size: 100% 100%;
  background-position: 0 0;
  
}

#chap3 span{
  
  top: 50px
}

.face{
  position: absolute;
  width: 65%;
  right: 350px;
  bottom: 0px;
  z-index: 1;
}

.lune{
  position: relative;
  left:300px;
  top:120px;
}

.etoile.gros{
  position: relative;
  width: 10%;
}

.etoile.gros.no1{
  top:60px;
  left: 180px;
}


.etoile.gros.no2{
  top:300px;
  left:300px;
}


.etoile.gros.no3{
  top:30px;
  left:500px;
}


.etoile.moyen{
  position: relative;
  width: 5%;
}

.etoile.moyen.no1{
  top:400px;
  right:400px;
}


.etoile.moyen.no2{
  top:300px;
  left:800px;
}


.etoile.moyen.no3{
  top:300px;
  left:400px;
}

.etoile.petit{
  position: relative;
  width: 2%;
}

.etoile.petit.no1{
  top:-60px;
  right: 200px;
}


.etoile.petit.no2{
  top:500px;
  left:500px;
}


.etoile.petit.no3{
  top:0px;
  left:500px;
}


/*chapitre 4*/
main #chap4{

    background-image: url("../img/img_arriere_plan/ciel.png");
    position: relative;
  
    height:1080px;
 
background-size: 100% 100%;
  background-position: 0 0;

}

#chap4 span{
  font-size: 30px;
  top:30px;
}

.solei{
  position: absolute;
  bottom:470px;
  right: 300px;
}

.fall{
  position: relative;
  width: 70%;
  bottom:-14px;
  left:450px
}

.falaise{
    position: relative;
    width: 60%;
    top: 830px;
    z-index: 1;
}

/*chapitre 5*/
main #chap5{

    background-image: url("../img/img_arriere_plan/ciel.png");
    position: relative;
   
    height: 2400px;

background-size: 100% 100%;
  background-position: 0 0;

}

#chap5 span{
 top:100px;
color: var(--jaune);
}

.tomber{
  position: relative;
  display: inline-block;
  width: 20%;
  top: 0%;
right:0%;
border: solid 2px red;
padding: 100;
}

#chap5 svg{
  position: relative;
  bottom: 400px;
right: -400px;
}

.nuage{
  width: 40%;
  position: relative;
  z-index: 1;
}

.nuage.no1{

  top:200px
}

.nuage.no2{
left:250px;
  top:1300px
}

.nuage.no3{
  left:50px;
    top:600px
  }
  
  .nuage.no4{
    left:250px;
      top:240px
    }
    
   

    /*chapitre 6*/
main #chap6{

    background-image: url("../img/img_arriere_plan/ciel.png");
    position: relative;
    
    height: 2400px;

background-size: 100% 100%;
  background-position: 0 0;


}

#chap6 span{
  top:100px;
 color: var(--jaune);
 z-index: 3;
 }

.oiseau{
  position: absolute;
  right: 800px;
  top: 0px;
  width: 60%;
  z-index: 2;
}

.vole{
  position: relative;
  width: 60%;
 top: 700px;
left:450px;

}


/*chapitre 7*/
main #chap7{

    background-image: url("../img/img_arriere_plan/ciel_apres_tomber.png");
    position: relative;
 
    height: 1000px;

background-size: 100% 100%;
  background-position: 0 0;


}


.spritesheet2{
  z-index: 1;
  position: relative;
  left: -460px;
top:-350px;
  width: 20%;
 height: 40%;
 aspect-ratio: 1/1;
  background-size: 7600% 100%;
  background-position: 0 0;
  background-image: url("../img/img_personnages/marcher_balon_sprite.png");
  animation-name: marche;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-timing-function: steps(76);
}

.is-scrolling .spritesheet2{

  width: 20%;
 height: 40%;
 aspect-ratio: 1/1;
  background-size: 7600% 100%;
  background-position: 0 0;
  background-image: url("../img/img_personnages/marcher_balon_sprite.png");
  animation-name: marche;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: steps(76);
}

@keyframes marche {
  from { background-position: 0 0; }
  to { background-position: -7600% 0; } 

}

.sol{
    position: relative;
    width: 100%;
    height:40%;
    top: 600px;
}

.soleil{
    position: relative;
  left: 1400px;
bottom: 300px;
}



/*chapitre 8*/
main #chap8{

    background-image: url("../img/img_arriere_plan/ciel_apres_tomber.png");
    position: relative;
  
    height: 1080px;

background-size: 100% 100%;
  background-position: 0 0;


}

.couple{
  position: absolute;
  top:390px;
  right:380px;
  
  width: 65%;
}

#chap8 .soleil{
    position: relative;
  left: 1500px;
bottom:200px;
}

.coline{
    position: relative;
    width: 100%;
    bottom:-80%;
}

.coeur{
  position: relative;
  bottom:500px;
  right: 20px;
}


main #fin{

  background-image: url("../img/img_arriere_plan/ciel_nuit.png");
  position: relative;
  height: 990px;
top:60px;
background-size: 100% 100%;
background-position: 0 0;
}

#fin span{
  font-size: 400px;
  top: 170px;
  left: 400px;
}